<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>BMS API - Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" 	/>
	<link th:href="@{/static/css/lib/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/swagger3/swagger-ui.css}" rel="stylesheet"/>
	<link rel="icon" type="image/png" th:href="@{/static/swagger3/favicon-32x32.png}" sizes="32x32" />
	<link rel="icon" type="image/png" th:href="@{/static/swagger3/favicon-64x64.png}" sizes="64x64" />


</head>

<body>
<a id="contextPath" style="display: none;" th:href="@{/}">Context Path</a>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/}">BMS API</a>
		</div>
	</div>
</nav>
<div class="container swagger-section">
	<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
	<div id="swagger-ui"></div>

	<script th:src="@{/static/js/lib/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/swagger3/swagger-ui-bundle.js}" type="text/javascript"></script>
	<script th:src="@{/static/swagger3/swagger-ui-standalone-preset.js}" type="text/javascript"></script>
	<script>
		// <![CDATA[

		// Setup required for BMS authentication.
		function addApiKeyAuthorization() {
			var authToken = localStorage.getItem("bms.xAuthToken");
			if (authToken) {
				var authTokenJSON = JSON.parse(authToken);
				if (!authTokenJSON.expires || authTokenJSON.expires <= new Date().getTime()) {
					alert("Authentication has expired. Please login to Workbench again, then refresh this page.");
				}
			} else {
				// Swagger front-end is not part of product so we as such do not expect users to see this screen.
				// This should happen only in cases where BMSAPI swagger front-end is loaded directly
				//  which should only happen for demo/development environments hence is fair enough to require being logged in to Workbench first.
				alert("You don't seem to have logged in. Please login to Workbench first, then refresh this page.");
			}
		}

		addApiKeyAuthorization();

		// ]]>
		function HideTopbarPlugin() {
			// this plugin overrides the Topbar component to return nothing
			return {
				components: {
					Topbar: function() { return null }
				}
			}
		}

		window.onload = function() {

			var apiUrl = window.location.protocol + "//" + window.location.host;
			if (window.location.pathname.indexOf('/api') > 0) {
				apiUrl += window.location.pathname.substring(0, window.location.pathname.indexOf('/api'))
			}

			var contextPath = $("#contextPath").attr("href");
			apiUrl += contextPath + "v2/api-docs";

			// Build a system
			const ui = SwaggerUIBundle({
				url: apiUrl,
				dom_id: '#swagger-ui',
				deepLinking: true,
				requestInterceptor: function(req) {

					var authToken = localStorage.getItem("bms.xAuthToken");
					var token = null;
					if (authToken) {
						try {
							token = JSON.parse(authToken);
						} catch(e) {

						}
					}

					if (token) {
						var authKey = "Bearer " + token.token;
						req.headers.Authorization = authKey;
						req.headers['X-Auth-Token'] = token.token;
					}

					return req;
				},
				presets: [
					SwaggerUIBundle.presets.apis,
					SwaggerUIStandalonePreset
				],
				plugins: [
					SwaggerUIBundle.plugins.DownloadUrl,
					HideTopbarPlugin
				],
				layout: "StandaloneLayout",
				securityDefinitions: {
					ApiKeyAuth: {
						"type": "apiKey",
						"name": "Authorization",
						"in": "header"
					},
				}
			});


			window.ui = ui;

		}

	</script>
</div>
</body>
</html>