<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>BMS API - Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" 	/>
	<link th:href="@{/static/css/lib/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/swagger3/swagger-ui.css}" rel="stylesheet"/>
	<link rel="icon" type="image/png" th:href="@{/static/swagger3/favicon-32x32.png}" sizes="32x32" />
	<link rel="icon" type="image/png" th:href="@{/static/swagger3/favicon-64x64.png}" sizes="64x64" />
	<style type="text/css">
		.swagger-ui .info .title small pre {
			border: none;
			background-color: transparent;
			font-weight: bold;
		}
	</style>
</head>

<body>
<a id="contextPath" style="display: none;" th:href="@{/}">Context Path</a>
<a id="swaggerPath" style="display: none;" th:href="@{/v2/api-docs}">Swagger Path</a>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/}">BMS API</a>
		</div>
	</div>
</nav>
<div class="container swagger-section">
	<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
	<div id="swagger-ui"></div>

	<script th:src="@{/static/js/lib/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/swagger3/swagger-ui-bundle.js}" type="text/javascript"></script>
	<script th:src="@{/static/swagger3/swagger-ui-standalone-preset.js}" type="text/javascript"></script>
	<script>
		// <![CDATA[

		// Setup required for BMS authentication.
		function addApiKeyAuthorization() {
			const loginPath = "/ibpworkbench/controller/auth/login";

			var authToken = localStorage.getItem("bms.xAuthToken");
			if (authToken) {
				var authTokenJSON = JSON.parse(authToken);
				if (!authTokenJSON.expires || authTokenJSON.expires <= new Date().getTime()) {
					alert(`Authentication has expired. Please login to BMS again (${loginPath}), then refresh this page.`);
				}
			} else {
				alert(`You don't seem to have logged in. Please login to BMS first (${loginPath}), then refresh this page.`);
			}
		}

		addApiKeyAuthorization();

		// ]]>
		function HideTopbarPlugin() {
			// this plugin overrides the Topbar component to return nothing
			return {
				components: {
					Topbar: function() { return null }
				}
			}
		}

		window.onload = function() {

			var apiUrl = $("#swaggerPath").attr("href");

			// Build a system
			const ui = SwaggerUIBundle({
				url: apiUrl,
				dom_id: '#swagger-ui',
				deepLinking: true,
                defaultModelsExpandDepth: -1,
                validatorUrl: null,
				requestInterceptor: function(req) {

					var authToken = localStorage.getItem("bms.xAuthToken");
					var token = null;
					if (authToken) {
						try {
							token = JSON.parse(authToken);
						} catch(e) {

						}
					}

					if (token) {
						var authKey = "Bearer " + token.token;
						req.headers.Authorization = authKey;
						req.headers['X-Auth-Token'] = token.token;
					}

					return req;
				},
				presets: [
					SwaggerUIBundle.presets.apis,
					SwaggerUIStandalonePreset
				],
				plugins: [
					SwaggerUIBundle.plugins.DownloadUrl,
					HideTopbarPlugin
				],
				layout: "StandaloneLayout",
			});


			window.ui = ui;

		}

	</script>
</div>
</body>
</html>
